
<li >
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#unless devoured}}{{burger_name}}!{{else}}{{burger_name}} {{/unless}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devour!</button>
</li>
